@import '../../variables';

.FloatingDropDown {
  display: flex;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  background: white;
  border: 1px $thinGrayColor solid;
  z-index: 1;
  border-radius: 10px;
}