@import '../../variables';

.ProjectsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: $closeSpace calc(#{$closeSpace} *  -1);

  .ProjectItem {
    width: calc( ((100% - #{$closeSpace * 3 * 2}) / 3) );
    margin: 0 $closeSpace $closeSpace $closeSpace;

    @media screen and (max-width: 964px) {
      width: calc( ((100% - #{$closeSpace * 2 * 2}) / 2) );
    }

    @media screen and (max-width: $mediumScreen) {
      width: calc( ((100% - #{$closeSpace * 1 * 2}) ) );
    }
  }
}

