
$grayColor: rgb(243, 243, 244);
$thinGrayColor: rgb(233, 233, 233);
$lightGrayColor: rgb(110, 109, 122);
$darkGrayColor: rgb(51, 51, 51);
$accentColor: rgb(234, 76, 137);

$normalTextSize: 14px;
$mediumTextSize: 18px;
$largeTextSize: 38px;

$closeSpace: 16px;
$broadSpace: 32px;

$headerHeight: 80px;

$lightBoxShadow: 5px 5px 10px 1px rgba(27, 27, 27, 0.103);


$mediumScreen: 768px;
$largeScreen: 1024px;
$smallScreen: 478px;

@mixin filterButton {
  border: 1px $thinGrayColor solid;
  background: white;
  padding: calc(#{$closeSpace} / 1.6) $closeSpace;
  border-radius: 10px;
  color: $lightGrayColor;
  &:hover {
    cursor: pointer;
  }
}

