@import './variables';

.main {
  width: 100%;

  .aboveTheFold {
    background: #F9F8FD;
    display: flex;
    padding: calc(#{$broadSpace} * 2);
    width: 100%;
    margin-bottom: $broadSpace;
    align-items: center;
  
    .leftSection {
      width: 53%;

      h1 {
        font-size: 3.5em;
        margin-bottom: $closeSpace;
      }

      p {
        margin-bottom: $closeSpace;
        font-size: 17px;
        font-weight: 300;
        line-height: 1.5em;
      }

      button {
        @include button;
        margin: 0;
      }      
    }

    .rightSection {
      width: 47%;

      img {
        width: 100%;
      }

    }

    @media screen and (max-width: $largeScreen) {
      padding: calc(#{$broadSpace} * 2) $broadSpace;

      .leftSection {
        h1 {
          font-size: 2.3rem;
        }
      }  
    }

    @media screen and (max-width: $mediumScreen) {
      padding: calc(#{$broadSpace} * 2) $broadSpace;
      flex-direction: column;

      .leftSection {
        width: auto;
        order: 2;
        text-align: center;

        h1 {
          font-size: 1.8rem;
        }
      }
      .rightSection {
        order: 1;
      }
    }
  }
}