@import './variables';

.Search {
  display: flex; 
  flex-direction: column;

  .contentWrapper {
    display: flex;
    flex-direction: column;

    .outerSearchWrapper {
      padding-bottom: $closeSpace;
      margin-bottom: $broadSpace;

      .halfBackground {
        background: $grayColor;
        height: $headerHeight;
      }

      .searchWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .mainWrapperSearchFilter {
          position: relative;
          transform: translateY(-50%);
        }
        
        .title {
          font-size: $largeTextSize;
          margin-bottom: $closeSpace;
        }

        .resultNumber {
          font-size: 18px;
          color: $lightGrayColor;
        }
      }
    }
    
    .filtersSection {
      display: flex;
      margin-bottom: $broadSpace;
      align-items: center;

      .outerCategoryFilterWrapper {
        width: 60%;
      }
    }

    .ProjectListWrapper {
      margin: 0 calc(#{$broadSpace} * 2);
    }
  }
}
