@import './variables';

.Search {
  display: flex; 
  flex-direction: column;

  .contentWrapper {
    display: flex;
    flex-direction: column;

    .outerSearchWrapper {

      .halfBackground {
        background: $grayColor;
        height: $headerHeight;
      }

      .searchWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .mainWrapperSearchFilter {
          position: relative;
          transform: translateY(-50%);
        }
        
        .title {
          font-size: $largeTextSize;
          margin-bottom: $closeSpace;
        }

        .resultNumber {
          font-size: 18px;
          color: $lightGrayColor;
        }
      }
    }
  }
}
